* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: "Nunito";
  font-size: 62.5%;
  --bg-color: #ffffff;
  --minus-color: #c15959;
  --plus-color: #6cc159;
  --color-purple: #7159c1;
  --color-pink: #c159bc;
  --color-text: #000000;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  background: linear-gradient(80deg, var(--color-purple), var(--color-pink));
  color: var(--color-text);
}

main {
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  background-color: var(--bg-color);
  border-radius: 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  padding: 2rem;
  gap: 2rem;
}

.col {
  flex-direction: column;
}

.col .flex-center {
  gap: 1rem;
}

.col .flex-center i {
  font-size: 3rem;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

.col .flex-center i:hover {
  background-color: #eee;
}

.minus {
  color: var(--minus-color);
}

.plus {
  color: var(--plus-color);
}
